# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.log
*.tmp
*.bak
*.swp

# Archivos de editores
.vscode/
.idea/

# Archivos de sistema operativo
desktop.ini

# Archivos personales o de configuración local
*.env